@model ViewApi.Models.UserInfo

@{
    ViewBag.Title = "ConfirmCode";
}

<h2>Confirmation Code</h2>

<form action="" method="post">



    <input type="text" name="Name" value="" placeholder="Enter Confirmation Code">

    <input type="submit" name="Submit" value="Submit">


</form>
