name: .NET CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
        
    - name: Restore dependencies
      run: dotnet restore MVCProject1/MVCProject1/MVCProject1.sln
      
    - name: Build
      run: dotnet build MVCProject1/MVCProject1/MVCProject1.sln --no-restore --configuration Release